<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/home.css">

<div class="mx-6 mt-3">
<h1 class="title">Tickets</h1>
<hr>

<span id='currentPage' hidden>
    <%= JSON.stringify(pageNum); %>
</span>

<container class="container">
    <div class="tile is-ancestor mb-2">
            <div class="tile is-12 is-vertical is-parent is-multiline">
            <% for (var i = 0; i < ticketsArr.length; i++){ %>
                <article id="<%=i%>" onclick="addModal(this)" class="tile tickets is-child has-text-centered box ticket-box">
                    <p class="title"><%=ticketsArr[i].subject%></p>
                    <p class="subtitle"><%=ticketsArr[i].opened_by%></p>
                    <div class="content">
                        <p><%=ticketsArr[i].created_at%></p>
                    </div>
                </article>
                <div id="modal <%=i%>" class="modal">
                    <div id = 'background <%=i%>' class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            I'm in a box.
                            <p><%=i%></p>
                        </div>
                    </div>
                    <button id="modal-close <%=i%>" class="modal-close is-large" aria-label="close"></button>
                </div>
            <% } %>
            </div>
        </div>
    </div>
</container>
  

    <nav class="pagination mx-6 mb-3" role="navigation" aria-label="pagination">

        <% if (pageNum != 1){ %>
            <a class="pagination-previous" >Previous</a>
        <% } else { %>
            <a class="pagination-previous" disabled>Previous</a>
        <% } %>
        
        <% if (pageNum != pages){ %>
            <a class="pagination-next">Next page</a>
        <% } else { %>
            <a class="pagination-next" disabled>Next page</a>    
        <% } %>
        <ul class="pagination-list">
        <% for (var i = 1; i <= pages; i++){ %>
            <% if (pageNum == i){ %>
                <li>
                    <a href="/?page=<%=i%>" class="pagination-link is-current" aria-label="Page" aria-current="page"><%=i%></a>
                </li>
            <% }else{ %>
                <li>
                    <a href="/?page=<%=i%>" class="pagination-link" aria-label="Go to page <%=i%>"><%=i%></a>
                </li>
            <% } %>
        <% } %>
        </ul> 
    </nav>
</div>
  
<script src="js/ticketpopup.js"></script>
<script src="js/pagination.js"></script>
